# Environment files
**/.env
**/.env.local

# Build artifacts
**/bin/
**/obj/
**/*.exe
**/*.dll
**/*.apk
*.apk

# Dependencies
**/node_modules/
**/vendor/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Database
**/postgres_data/
